*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {

  --b: oklch(19% 0.035 222);

  --mm: oklch(16% 0.07 308);
  --rc: oklch(36% 0.07 308);
  --nd: oklch(56% 0.07 308);
  --nb: oklch(90% 0.07 308);
  --pp: oklch(98% 0.07 308);
  --ah: oklch(80% 0.034 105);
  --sm: oklch(90% 0.034 105);
  --bm: oklch(98% 0.034 105);
  --pa: oklch(75% 0.185 123);

  --header-bg: var(--rc);
  --header-text: var(--bm);
  --page-element-bg: var(--rc);
  --page-element-bg-variant: var(--bm);
  --page-element-accent: var(--pa);
  --page-element-text: var(--mm);
  --page-element-text-variant: var(--pp);
  --page-element-header-color: var(--pp);
  --container-bg: linear-gradient(148deg, white, white, var(--sm));
}

:root[data-scheme="dark"] {
  --header-bg: linear-gradient(148deg, var(--rc), var(--mm), var(--mm));
  --header-text: var(--nb);
  --body-bg: linear-gradient(148deg, var(--nd), var(--mm));
  --page-element-bg: var(--rc);
  --page-element-bg-variant: var(--mm);
  --page-element-accent: var(--ah);
  --page-element-text: var(--pp);
  --page-element-text-variant: var(--mm);
  --page-element-header-color: var(--pp);
  --container-bg: linear-gradient(148deg, var(--nd), var(--nd), var(--mm));
}

body {
  background: var(--body-bg);
  height: 100vh;
}