*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {

  --black: oklch(19% 0.035 222);

  /* theme1 - primary color*/
  --midnight-monarch: oklch(16% 0.07 308);
  --royal-crown: oklch(36% 0.07 308);
  --nymphs-delight: oklch(56% 0.07 308);
  --viking-diva: oklch(80% 0.07 308);
  --neon-boneyard: oklch(90% 0.07 308);
  --partial-pink: oklch(98% 0.07 308);

  /* theme1 - neutral color */
  --king-kong: oklch(16% 0.034 105);
  --olive-leaf: oklch(36% 0.034 105);
  --mangrove: oklch(56% 0.034 105);
  --ash: oklch(80% 0.034 105);
  --sip-of-mint: oklch(90% 0.034 105);
  --buttermilk: oklch(98% 0.034 105);

  /* theme1 - accent color */
  --godzilla: oklch(40% 0.185 123);
  --green-thumb: oklch(60% 0.185 123);
  --pea: oklch(75% 0.185 123);
  --queen-of-gardens: oklch(85% 0.185 123);
  --ultra-moss: oklch(96% 0.185 123);
  --white-moss: oklch(100% 0.185 123);

  --header-bg: var(--royal-crown);
  --header-text: var(--buttermilk);
  --body-bg: linear-gradient(148deg, var(--buttermilk), var(--sip-of-mint));
  --page-element-bg: var(--royal-crown);
  --page-element-bg-variant: var(--buttermilk);
  --page-element-accent: var(--pea);
  --page-element-text: var(--midnight-monarch);
  --page-element-text-variant: var(--partial-pink);
  --container-bg: white;
}

:root[data-scheme="dark"] {
  --header-bg: linear-gradient(148deg, var(--royal-crown), var(--midnight-monarch), var(--midnight-monarch));
  --header-text: var(--neon-boneyard);
  --body-bg: linear-gradient(148deg, var(--nymphs-delight), var(--midnight-monarch));
  --page-element-bg: var(--midnight-monarch);
  --page-element-bg-variant: var(--royal-crown);
  --page-element-accent: var(--ash);
  --page-element-text: var(--partial-pink);
  --page-element-text-variant: var(--midnight-monarch);
  --container-bg: var(--black);
}

body {
  background: var(--body-bg);
  height: 100vh;
}